:root{
    /* color */
    --color-brand: #CA3884;
    --color-brand-hover: #A52C6B;
    --color-danger: #C93847;

    /* content */
    --content-primary: #080B12;
    --content-secondary: #374151;
    --content-tertiary: #9CA3AF;
    --always-white: #FFFFFF;

    /* border */
    --boder-primary: #D1D5DB;
    --boder-secondary: #B9C2D0;

    /* Font */
    --font: "Inter", sans-serif;
}

body{
    background-color: #F4F5FB;
}

input,button{
    border-radius: 8px;
    padding: 3px;
    height: 2.3rem;
    border: 0px;
    font-family: var(--font);
    font-weight: 500;
    letter-spacing: 0.2px;
}
